/*----------body-----------*/

body, body a {
  color: #343a40;
}

/*----------nav----------*/
.nav-link {
  color: white;
  font-size: 20px;
  line-height: 3em;
}

.media-accounts a {
  font-size: 16px;
}

.nav-link:hover {
  transform: scale(1.4);
  color: white;
}

/*-----nav for medium and below-----*/
.dropdown-menu a{
  color: #343a40;
  display: block;
  line-height: 3em;
  padding-left: 15px;
}

@media (max-width: 992px) {
  .nav-large {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .navbar-toggler {
    display: none !important;
  }
}

.navbar-toggler {
  position: absolute !important;
  z-index: 5;
}

  /*----------hero----------*/
.hero {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.bg-img {
  aspect-ratio: 1.4;
  object-fit: cover;
}

.content {
  overflow: wrap;
  padding: 0 60px 50px 60px;
}

@media (max-width: 768px) {
  .content {
    padding: 0 10px 30px 10px;
  }
}

  /*----------about section----------*/
.content-header {
  margin-top: 50px;
}

.about-pic {
  border-radius: 15px;
  width: 30%;
}

@media (min-width: 1634px) {
  .about-pic{
    width: 20%;
  }
}

/*----------sample sites----------*/

.scrollableRow {
  overflow-x: scroll;
}

.sample-website{
  border: .5px solid rgb(213, 212, 212);
  padding-bottom: 5px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.website-img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1.5;
  border-radius: 15px 15px 0 0;
}

/*----------contact----------*/

.contact {
  width: 90%;
  margin: 0 auto;
  padding: 4px 30px 4px 30px;
}

.connect-accounts, .connect-accounts a {
  line-height: 4em;
  font-size: 18px;
  padding-left: 15px;
}

@media (max-width: 992px) {
  .contact {
    margin-top: 40px;
  }
}

/*----------footer----------*/
.footer {
  width: 100%;
  padding: 15px;
}